@font-face {
  font-family: Montserrat;
  src: url(../fonts/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../fonts/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Avenir;
  src: url(../fonts/avenir/AvenirLTStd-Book.otf);
}
:root {
  --button-blue-bg: #1fa1db;
  --button-white-bg: #ffffff;
  --primary-blue: #1fa1db;
  --primary-font: #231f20;

  --body-font-size: 20px;
  --xx-small-font-size: 25px;
  --extra-small-font-size: 30px;
  --small-font-size: 35px;
  --medium-font-size: 40px;
  --large-font-size: 50px;

  --small-font-weight: 400;
  --medium-font-weight: 500;
  --large-font-weight: 600;
  --extra-large-font-weight: 700;

  --xx-small-line-height: 26px;
  --x-extra-small-line-height: 30px;
  --extra-small-line-height: 35px;
  --small-line-height: 40px;
  --medium-line-height: 45px;
  --large-line-height: 50px;
  --extra-large-line-height: 70px;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Montserrat;
  font-style: normal;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--primary-font);
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.container-fluid {
  max-width: 100%;
}
/* ul li {
  list-style: none;
}
a {
  text-decoration: none;
} */
.primary-btn {
  background: var(--button-blue-bg);
  color: var(--white);
  font-weight: var(--large-font-weight);
  line-height: 22px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  padding: 15px 25px;
  border: none;
}
.primary-btn:hover {
  background: var(--button-white-bg);
  color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
}
.white-btn {
  background: var(--white);
  color: var(--primary-blue);
  font-weight: var(--large-font-weight);
  line-height: 22px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  padding: 15px 25px;
  border: none;
}
.white-btn:hover {
  background: var(--primary-blue);
  color: var(--white);
}

.secondary-btn {
  background: transparent;
  color: var(--primary-blue);
  font-weight: var(--large-font-weight);
  font-size: 18px;
  line-height: 22px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid var(--primary-blue);
  padding: 10px 25px;
  text-transform: capitalize;
}
.secondary-btn:hover {
  color: var(--white);
  background-color: var(--button-blue-bg);
}
h1 {
  font-size: var(--large-font-size) !important;
  font-weight: var(--extra-large-font-weight) !important;
  line-height: var(--extra-large-line-height) !important;
  font-family: Montserrat-Bold !important;
}
h2 {
  font-size: var(--medium-font-size) !important;
  font-weight: var(--extra-large-font-weight) !important;
  line-height: var(--large-line-height) !important;
  font-family: Montserrat-Bold;
}
h3 {
  font-size: var(--extra-small-font-size) !important;
  font-weight: var(--extra-large-font-weight) !important;
  line-height: var(--small-line-height) !important;
  margin-bottom: 40px !important;
  font-family: Montserrat-Bold;
}
h4 {
  font-size: var(--small-font-size) !important;
  font-weight: var(--extra-large-font-weight) !important;
  line-height: var(--medium-line-height) !important;
  color: var(--white);
  margin-bottom: 35px !important;
  font-family: Montserrat-Bold;
}
h5 {
  font-size: var(--xx-small-font-size) !important;
  font-weight: var(--medium-font-weight) !important;
  line-height: var(--extra-small-line-height) !important;
}
h6 {
  font-size: var(--body-font-size) !important;
  font-weight: var(--large-font-weight) !important;
  line-height: 24px !important;
  font-family: Montserrat-SemiBold;
}
p {
  font-family: Avenir;
  font-weight: var(--small-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--x-extra-small-line-height);
  color: #231f20;
}
.column-gap{
  column-gap: 10px;
}
.bg-grey {
  background: #f8f8f8;
}
.bg-blue {
  background: var(--button-blue-bg);
}
.bg-black {
  background: #231f20 !important;
}
.p-100 {
  padding: 100px 0px;
}
.p-160 {
  padding: 160px 0px;
}
.p-60 {
  padding: 60px 0px;
}
/*navigation-bar-style*/
button.navbar-toggler {
  background: var(--button-blue-bg);
}
.fas {
  color: white;
  padding: 3px 0px;
}
header .navbar {
  padding-left: 40px;
  padding-right: 40px;
}
header .nav-item {
  padding: 15px 15px;
}
header .nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
}
header .nav-link:hover {
  color: var(--button-blue-bg);
}
/*banner-section-style*/
.banner-section {
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 900px;
}
.banner-text {
  max-width: 910px !important;
}
.banner-text,
.banner-content {
  height: 800px;
}
.banner-text h5 {
  margin: 20px 0px 60px 0px;
  font-family: Montserrat-Medium;
}
.banner-section h6 {
  margin-top: 30px;
  font-family: Montserrat-SemiBold;
}
/* feature-section-style */
.feature-section {
  background-color: var(--primary-blue);
  color: var(--white);
  padding: 40px 0px;
}
.feature-content {
  row-gap: 20px;
}
/* about-section-style */
.about-image img {
  width: 100%;
}
/* service-section-style */
.service-section h2 {
  padding: 0px 165px;
  margin-bottom: 60px !important;
}
.service-section .service-main {
  row-gap: 30px;
  column-gap: 45px;
}
/* testimonial-section-style */
.testimonial-section {
  background-image: url(../images/testimonial-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.testimonial-box p {
  color: var(--white);
}
.testimonial-content p {
  font-family: "Avenir";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.name {
  font-family: Montserrat-SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 6px;
}
/* schedule-section-style */
.schedule-section hr {
  margin: 100px 0px;
}
.schedule-right h6 {
  font-family: Montserrat-Bold;
}
.schedule-cards h6 {
  font-family: Montserrat-SemiBold;
}
.schedule-icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-weight: 700;
font-size: 20px;
line-height: 30px;
padding: 0px 16px;
}
.card-icon {
  position: relative;
  bottom: 20px;
}
.schedule-cards .card {
  border: 1px solid #1fa1db !important;
  border-radius: 20px;
  padding: 0px 36px 29px 36px;
}
.schedule-right{
  row-gap: 30px;
}
/* why-section-style */
.why-section h2 {
  margin-bottom: 60px;
}
.right img{
   width: 100%;
}
.ad-image img{
  width: 100%;
}
/* logo-slider-section-style */
.logo-card{
  height: 150px !important;
  border-radius: 10px;
border: 1px solid #EEE;
padding: 50px;
}
.slick-prev:before, .slick-next:before{
color:  #DDDDDD !important;
}
.slick-dots{
  display: none !important;
}
.slick-dotted.slick-slider {
  margin-bottom: 0px !important;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.75 !important;
}
/* footer-section-style */
footer p,footer ul li a{
  color: #8c8c8c;
  font-family: Montserrat-Medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
footer hr {
  border-top: 1px solid #8c8c8c;
}
footer ul li{
 text-decoration: none;
}
.blue-font{
  color: #1FA1DB;
  font-weight: 500;
font-size: 16px;
line-height: 20px;
}
@media screen and (max-width: 361px) {
  .schedule-right{
    padding: 0px 15px;
  }
  .schedule-cards{
    margin: 0px 10px;
    padding: 0px 15px;
  }
}
@media screen and (max-width: 576px) {
  .card{
    margin: 0px 10px;
  }
  .schedule-right{
    padding: 0px 15px;
  }
}
@media screen and (max-width: 767px) {
  .banner-section .container-fluid {
    padding: 0px;
  }
  header .navbar {
    padding: 0px;
  }
  .feature-box,
  .about-content,
  .schedule-left,
  .schedule-right {
    text-align: center;
  }
  .schedule-cards{
    row-gap: 30px;
    padding: 0px 15px;
  }
  .card{
    margin: 0px 10px;
  }
}
@media screen and (max-width: 992px) {
  .banner-section {
    padding: 0px 10px !important;
  }
  .banner-section .container-fluid {
    padding: 0px !important;
  }
  header .navbar {
    padding: 0px;
  }
  .feature-box, .left {
    text-align: center;
  }
  .about-content,
  .service-box,
  .testimonial-content,.ad-content {
    /* justify-content: center; */
    text-align: center;
  }
}
@media screen and (max-width: 1280px) {
  .navbar-nav .nav-link {
    padding: 0px !important;
  }
  .service-section h2 {
    padding: 0px;
  }
}
@media screen and ( min-width: 992px) and (max-width: 1200px){
  .banner-section .container-fluid {
    padding: 0px !important;
  }
  .navbar-brand{
    margin-right: 0px !important;
  }
  header .nav-item {
    padding: 15px 11px;
}
.primary-btn{
  padding: 15px 5px;
}
header .navbar {
  padding: 0px;
}
}
